<div class="container">
    <div class="row w-100 p-5">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4>Login</h4>
                </div>

                <div class="card-body">

                    <div class="alert alert-danger m-2" role="alert" *ngIf="loginError">
                        {{loginErrorMessage}}
                    </div>
                    
                    <form class="form d-flex flex-column" [formGroup]="loginForm" (submit)="Login()">
                        <div class="form-group mb-2">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" formControlName="email" />
                            <span class="text-danger" *ngIf="(LoginFormControl['email'].touched || submitted) && (LoginFormControl['email'].errors?.['required'])">
                                Email address is required
                            </span>
                            <span class="text-danger" *ngIf="(LoginFormControl['email'].touched || submitted) && (LoginFormControl['email'].errors?.['email'])">
                                Please enter a valid email
                            </span>
                        </div>
                        <div class="form-group mb-2">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" formControlName="password" />
                            <span class="text-danger" *ngIf="(LoginFormControl['password'].touched || submitted) && (LoginFormControl['password'].errors?.['required'])">
                                Password is required
                            </span>
                        </div>

                        <div class="form-group my-4 d-flex">
                            <span>First time user? Join us <a [routerLink]="['/account/register']">here</a>.</span>
                            <button type="submit" class="btn btn-primary ms-auto">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>